.card {
  float: left;
  border: solid 1px black;
  width: 120px;
  border-radius: 5px;
  height: 165px;
  margin-right: 20px;
}

/*.covered {
  background-image: url("../img/card-back.png");
  z-index: 0;
}*/

/*.covered img {
  display: none;
}*/

.hand {
  overflow: auto;
}
